.bg-arctic-poppy { background-image: url($images + "bg/arctic-poppy.jpg"); }
.bg-socrates { background-image: url($images + "bg/socrates.jpg"); }
.bg-palettes { background-image: url($images + "bg/palettes.jpg"); }
.bg-feedback { background-image: url($images + "bg/feedback.jpg"); }
.bg-mountains {background-image: url($images + "bg/mountains.jpg"); }
.bg-logo-design {background-image: url($images + "bg/logo-design.svg"); }
.bg-rocks {background-image: url($images + "bg/rocks.jpg"); }