html {
	height: 100%;
}

body {
	min-height: 100%;
	
	font: {
		family: $standard-font-stack;
		weight: 400;
	}
	
	background-color: $color-primary-4;
}

#main {
	background-color: $color-background;
}

nav {
	background: white;
	color: $color-text;
	
	.menu a {
		color: $color-primary-4;
		
		&:hover {
			background-color: $color-primary-0;
			color: $color-background;
		}
	}
	
	.menu .active > a {
		background-color: $color-primary-1;

		&:hover {
			background-color: $color-primary-0;
		}
	}
	
	.title-bar {
		font-weight: bold;
	}
	
	#menu-bar .logo {
		margin-left: 1em;
	}
}

footer {
	color: $color-background;
	padding: 1em 0em;
	
	a {
		color: $color-background;
		
		&:hover {
			color: $color-primary-1;
		} 
	}
}
