svg {
	
	path {
		opacity: 1;
		fill-opacity: 1;
		stroke: none;
		stroke-width: 0;
		stroke-miterlimit: 4;
		stroke-dasharray: none;
		stroke-dashoffset: 0;
		stroke-opacity:1;
	}
	
	text {
		font: {
			size:5px;
		}
		
		text: {
			align:center;
			anchor:middle;
		}
		
		fill: $color-secondary-1-1;
	}
}

.step {
	fill: $color-primary-1;
}

.iteration {
	fill: $color-secondary-2-1;
}

g:hover, g.selected {
	& .step { 
		fill: $color-primary-0;
	}
	
	& .iteration {
	fill: $color-secondary-2-0;
	}
	
	& text {
		fill: $color-secondary-1-0; 
	}
}

g.selected {
	filter: url(#drop-shadow);
}
