<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="x-ua-compatible" content="ie=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="refresh" content="0; url={{ page.redirect }}" />

	<title>{{ page.title }}</title>

	<link href="https://fonts.googleapis.com/css?family=Jura:600|Roboto:400" rel="stylesheet" />
	<link rel="stylesheet" href="/css/xodiac.css" />
</head>
<body class="flex-container flex-dir-column">
	<a href="{{ page.redirect }}">{{ page.title }}</a>
</body>
</html>